<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Service</title>
</head>
<body>
    {% for hotel in hotels %}
    <div style="display:flex; margin-bottom: 15px; margin-left: 300px;">
        <img src="{{ url_for('static', path='images/' + hotel.image_id|string + '.webp') }}"
        alt="Hotel Image" width="300">
        <h2>{{ hotel.name }}</h2>
        <h4>{{ hotel.location }}</h4>
    </div>
    {% endfor %}
</body>
</html>